@font-face {
    font-family: 'fontku';
    src: url('openSansReguler.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: url('bgc2.jpg');   
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center ;
}

header {
    text-align: center;

}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}

header h2 {
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    margin-top: 10px;
    font-family: 'fontku';
    color: #EFF5F5;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}

main a {
    margin: 10px;
    text-decoration: none;
    display: flex;
    justify-content: left;
    width: 200px;
    padding: 10px;
    border-radius: 7px;
    gap: 1rem;
    margin-left: 1rem;
    background-color: white;
    transition: 300ms ease;
}

main > a:hover {
    opacity: 50%;
}

/* hover */
main > a > p {
    position: relative;
    top: .2rem;
    transition: 300ms ease-in-out;

}

main > a > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;

}

svg {
    height: 30px;
}

